.venv/
_build/
__pycache__/
.ipynb_checkpoints/
.pytest_cache/
datos/*.csv
Entrega3/resultados/modelos/
Entrega3/articulo/herramientas/
Entrega3/articulo/*.aux
Entrega3/articulo/*.log
Entrega3/articulo/*.bbl
Entrega3/articulo/*.blg
Entrega3/articulo/*.out
Entrega3/articulo/articulo.pdf
